{% extends "layout.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/../assets/css/circuits.css">
{% endblock %}

{% block title %}
	{{parent()}}
	| Circuits
{% endblock %}

{% block content %}
	<section>
		<div class="content-section">
			<div class="container-fluid">
				<div class="d-flex justify-content-center p-4">
					<h1>Nos circuits</h1>
				</div>
				<div class="container">
					<div class="card px-5 py-3 mb-4">
						<p>L'association vous propose de découvrir le Gâtinais au travers de différents circuits, durant lesquels vous aurez l'occasion d'explorer la faune et la flore de notre région.</p>
					</div>
				</div>
				<div class="container">
					<div class="row">
						{% for circuit in circuits %}
							<div class="col-12 col-sm-8 col-lg-4 m-auto">
								<div class="card mb-4 text-white">
									<a href="/circuits/show?id={{ circuit.id }}" class="link-cards">
										<img src="/assets/images/{{circuit.picture}}" class="card-img img-circuit img-responsive" alt="image_circuits">
										<div class="card-img-overlay card-img-circuit d-flex flex-column justify-content-start align-item-center">
											<h2 class="card-title card-title-circuit fs-5">{{circuit.title}}</h2>
											<p class="card-text">{{circuit.size}}
												km</p>
											<p class="card-text">{{circuit.trace}}</p>
										</div>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
