{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}}| Page-Circuit
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/circuitPage.css">
{% endblock %}

{% block content %}
	<section>
		<div class="container-fluid bg-secondary p-0 text-center">
			<h2 class="p-5">Circuit:
				{{circuitName}}</h2>
			{# Carte type pour ajout circuit #}
			<div class="card card-circuit m-auto w-auto">
				<div class="row g-0">
					<div class="col-md-6">
						<div class="card-body">
							<p class="card-text text-start p-4">{{content}}
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad fugit molestias quasi, maxime corrupti vel mollitia tenetur voluptatem ipsam blanditiis laudantium velit deleniti ex ab cumque molestiae distinctio consequuntur quas?
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<img src="/assets/images/fall-g02112eec4_1280.jpg" class="h-100  w-100 rounded-end" alt="Image du Circuit">
					</div>
				</div>
			</div>
			{# Carrousel Espèces - prévoir ajout de data#}
			<div class="row g-0">
				<h2 class="p-5">Espèces Rencontrés</h2>
				<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="row justify-content-center">
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/20121223-112920-_DSC9881_01.webp" class="img-fluid" alt="Images Espèces">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<p class="card-text text-white">
														<span class="fw-bold">Nom:</span>
														{{name}}
														<br>
														<span class="fw-bold">Espèce:</span>
														{{espece}}
														<br>
														<span class="fw-bold">Paysage:</span>
														{{paysage}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/20130407-125421-_DSC2347.webp" class="img-fluid" alt="Images Forets">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<p class="card-text text-white">
														<span class="fw-bold">Nom:</span>
														{{name}}
														<br>
														<span class="fw-bold">Espèce:</span>
														{{espece}}
														<br>
														<span class="fw-bold">Paysage:</span>
														{{paysage}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/20150424_163613__DSC0006.webp" class="img-fluid" alt="Images Gatinais">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<p class="card-text text-white">
														<span class="fw-bold">Nom:</span>
														{{name}}
														<br>
														<span class="fw-bold">Espèce:</span>
														{{espece}}
														<br>
														<span class="fw-bold">Paysage:</span>
														{{paysage}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row justify-content-center">
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/20121223-112920-_DSC9881_01.webp" class="img-fluid" alt="Images Forets">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<p class="card-text text-white">
														<span class="fw-bold">Nom:</span>
														{{name}}---
														<br>
														<span class="fw-bold">Espèce:</span>
														{{espece}}---
														<br>
														<span class="fw-bold">Paysage:</span>
														{{paysage}}---</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/20130407-125421-_DSC2347.webp" class="img-fluid" alt="Images Forets">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<p class="card-text text-white">
														<span class="fw-bold">Nom:</span>
														{{name}}---
														<br>
														<span class="fw-bold">Espèce:</span>
														{{espece}}---
														<br>
														<span class="fw-bold">Paysage:</span>
														{{paysage}}---</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/20150424_163613__DSC0006.webp" class="img-fluid" alt="Images Gatinais">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<p class="card-text text-white">
														<span class="fw-bold">Nom:</span>
														{{name}}---
														<br>
														<span class="fw-bold">Espèce:</span>
														{{espece}}---
														<br>
														<span class="fw-bold">Paysage:</span>
														{{paysage}}---</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>

			{# Carrousel Paysages - prévoir ajout de data#}
			<div class="row g-0">
				<h2 class="p-5">Paysage Rencontrés</h2>
				<div id="carouselExampleControls2" class="carousel carousel-dark slide mb-5" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="row justify-content-center">
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/T.Houyel-OPP-16-1024x683.webp" class="img-fluid" alt="Images Forets">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<h3 class="card-title text-white">Briare</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/T.Houyel-OPP-22-1024x683.webp" class="img-fluid" alt="Images Forets">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<h3 class="card-title text-white">Chécy</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/800x650_chateau renard .webp" class="img-fluid" alt="Images Gatinais">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<h3 class="card-title text-white">Gâtinais</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row justify-content-center">
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/T.Houyel-OPP-16-1024x683.webp" class="img-fluid" alt="Images Forets">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<h3 class="card-title text-white">Briare</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/T.Houyel-OPP-22-1024x683.webp" class="img-fluid" alt="Images Forets">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<h3 class="card-title text-white">Chécy</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card h-100">
										<div class="card h-100 bg-success">
											<img src="/assets/images/800x650_chateau renard .webp" class="img-fluid" alt="Images Gatinais">
											<div class="card-img-overlay">
												<div class="content-card bg-success">
													<h3 class="card-title text-white">Gâtinais</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}{% block javascript %}
<script src="/assets/js/carousel.js"></script>{% endblock %}
