{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}}| Page-Circuit
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/circuitPage.css">
{% endblock %}

{% block content %}
	<section>
		<div class="container-fluid bg-secondary p-0 text-center">
			<h2 class="p-5">{{circuit.title is null ? 'Nom du Circuit' : circuit.title}}</h2>
			{# Carte type pour ajout circuit #}
			<div class="container vh-100">
				<div class="card col col-md-10 m-auto">
					<div class="row g-0">
						<div class="col-md-8">
							<div class="card-body">
								<p class="card-text text-start p-4">
									{{circuit.content is null ? 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et nesciunt, maiores recusandae sit ipsa vero, minus expedita voluptatibus placeat id unde qui vel adipisci ipsam, beatae ea aliquam atque consequuntur?' : circuit.content}}.{{circuit.map}}
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<img src="{{circuit.picture_circuit is null ? '/assets/images/imgPlaceHolder.jpg' : circuit.picture_circuit}}" class="h-100  w-100 rounded-end" alt="Image du circuit">
						</div>
					</div>
				</div>
			</div>
			{# Carrousel Espèces - prévoir loop de data#}
			{# Carrousel Paysages - prévoir loop de data#}
		</div>
	</div>
</section>{% endblock %}{% block javascript %}
<script src="/assets/js/carousel.js"></script>{% endblock %}
