{% extends "layout-admin.html.twig" %}

{% block subtitle %}
	<h1 class="d-flex justify-content-center my-5 fw-bold">Circuits -
		{{ parent() }}</h1>
{% endblock %}

{% block content %}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>Admin - Circuits</title>
		</head>
		<body class="bg-secondary">
			<section class="m-5 d-flex flex-column align-items-center">

				<h1>Ajoutez un circuit :</h1>

				{% for error in errors %}
					<p>{{ error }}</p>
				{% endfor %}


				<div class="d-flex justify-content-center col-8 bg-light h-75 mt-5">
					<form class="d-flex flex-column" method="post" enctype="multipart/form-data">
						<label for="title">Titre:</label>
						<input class="form-control" type="text" name="title" id="title" value="{{ circuit.title ?? '' }}">

						<label for="size">Longueur:</label>
						<input class="form-control" type="text" name="size" id="size" value="{{ circuit.size ?? '' }}">

						<label for="content">Description:</label>
						<input class="form-control" type="text" name="content" id="content" value="{{ circuit.content ?? '' }}">

						<label for="map">Carte:</label>
						<input class="form-control" type="text" name="map" id="map" value="{{ circuit.map ?? '' }}">

						<label for="trace">Tracé:</label>
						<input class="form-control" type="text" name="trace" id="trace" value="{{ circuit.trace ?? '' }}">

						<label for="picture">Image:</label>
						<input class="form-control" type="file" name="picture" id="picture" value="{{ circuit.picture ?? '' }}">

						<button>Submit</button>
					</form>
				</div>
			</section>
		</body>
	</html>
{% endblock %}
