{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/circuits.css">
{% endblock %}

{% block title %}
	{{ parent() }}
	| Circuits
{% endblock %}

{% block content %}
	<h1>Éditer Circuit Admin</h1>
	<ul>
		{% for error in errors %}
			<li>{{error}}</li>
		{% endfor %}

	</ul>
	<form action="" method="post" enctype="multipart/form-data" class="container">

		<input type="hidden" value="{{ activity.id }}" name="id">
		<div class="mb-4 mt-4">
			<label for="title" class="form-label">Titre :</label>
			<input type="text" class="form-control" name="title" id="title" placeholder="Canal de Briare" value="{{circuit.title ?? ''}}" required>
		</div>
		<div class="mb-4">
			<label for="size" class="form-label">Longueur (en km) :</label>
			<input type="text" class="form-control" name="size" id="size" placeholder="7.0" value="{{circuit.size ?? ''}}" required>
		</div>
		<div class="mb-4">
			<label class="form-label" for="content">Description :</label>
			<textarea class="form-control" name="content" id="content" placeholder="Description du circuit..." required>
				{{- circuit.content ?? '' -}}
			</textarea>
		</div>
		<div class="mb-4">
			<label class="form-label" for="map">Carte :</label>
			<input type="text" class="form-control" name="map" id="map" placeholder="Carte IGN 1/25.000 ème Est" value="{{circuit.map ?? ''}}" required>
		</div>
		<div class="mb-4">
			<label class="form-label" for="trace">Tracé :</label>
			<input class="form-select" type="text" name="trace" id="trace" value="{{circuit.trace}}" required>
		</div>
		<div class="mb-4">
			<label class="form-label" for="picture">Image :</label>
			<input type="file" class="form-control" name="picture" id="picture" value="{{circuit.picture ?? ''}}" required>
		</div>

		<div>
			{% if circuit.picture == null %}
				<img class="activityImg rounded" src="/assets/images/imgPlaceHolder.jpg" alt="circuitPicture" srcset="">
			{% else %}
				<img class="activityImg rounded" src={{ activity.picture|trim('.')}} alt="circuitPicture" srcset="">
			{% endif %}
		</div>

		<button class="btn btn-primary">Mettre à jour</button>
	</form>
{% endblock %}
