<form action="" method="post" enctype="multipart/form-data">
	{% if errors %}
		<ul class="alert alert-danger" role="alert">
			{% for error in errors %}
				<li class="list-unstyled">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewbox="0 0 16 16">
						<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					</svg>
					{{error}}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<div class="d-flex align-items-center mb-5 pb-1">
		<span class="h1 fw-bold mb-0">{{title}}</span>
	</div>

	<div class="mb-4">
		<label for="title" class="form-label">Titre :</label>
		<input type="text" name="title" id="title" class="form-control form-control-lg" placeholder="Titre à renseigner" value="{{event.title ?? ''}}" required>
	</div>

	<div class="mb-4">
		<label for="date" class="form-label">Date :</label>
		<input type="date" name="date" id="date" class="form-control form-control-lg" placeholder="01/01/2021" value="{{event.date ?? ''}}" required>
	</div>

	<div class="mb-4">
		<label class="form-label" for="description">Description :</label>
		<textarea class="form-control form-control-lg" name="description" id="description" placeholder="Ajouter Descriptif" required>
			{{- event.description ?? '' -}}
		</textarea>
	</div>

	<div class="mb-4">
		<label for="cost" class="form-label">Coût :</label>
		<input type="text" name="cost" id="cost" class="form-control form-control-lg" placeholder="Ajouter Cout" value="{{event.cost ?? ''}}" required>
	</div>

	<div class="mb-4">
		<label for="picture" class="form-label">Image :</label>
		<input type="file" name="picture" id="picture" class="form-control form-control-lg" value="{{event.picture ?? ''}}" required>
	</div>

	<div class="pt-1 mb-4">
		<button class="btn btn-success btn-lg btn-block" type="submit">{{btn}}</button>
		<a class="btn btn-outline-success btn-lg btn-block" href="/admin/evenements/index">Retour</a>
	</div>

</form>
