{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/activity.css">
{% endblock %}

{% block content %}
	{# events  area#}
	<div class="container">
		<h1 class="text-center p-4">Les évènements</h1>
		<div class="row text-light">
			{% for event in events %}
				<div class="card card-event bg-success col-10 col-sm-3 p-0 m-auto mb-4">
					<img class="eventsImg img-responsive rounded" src={{ event.picture_link is null ? '/assets/images/imgPlaceHolder.jpg' : event.picture_link}} alt="eventPicture">
					<div class="card-body">
						<h3 class="card-title text-center">{{event.date}}</h3>
						<p class="card-text text-center fst-italic">{{event.title}}</p>
						<p class="card-text fw-bold text-center">{{event.cost}}€/pers</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{# activities area #}
	<div class="container mt-4">
		<h1 class="text-center p-4">Les activités</h1>
		{% for activity in activities %}
			<div class="activitySection">
				<div class="card p-0 mb-5">
					<div class="row">
						<div class="col-lg-5 m-auto {{loop.index is odd ? 'order-2' : ''}}">
							<img class="activityImg w-100 h-100 rounded" src={{ activity.picture is null ? '/assets/images/imgPlaceHolder.jpg' : activity.picture }} alt="activityPicture">
						</div>
						<div class="col-lg-7 m-auto">
							<h2 class="px-5 py-3 text-center">{{ activity.title}}</h2>
							<p class="px-5 py-3">{{ activity.description}}</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
