{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/activity.css">
{% endblock %}

{% block title %}
	{{parent()}}
	| Activités
{% endblock %}

{% block content %}
<h1>Éditer Activité Admin</h1>
<ul>
{% for error in errors %}
  <li>{{error}}</li>
{% endfor %}
</ul>
<form action="" method="post" enctype="multipart/form-data" class="container">
   <input type="hidden" value="{{ activity.id }}" name="id">
    <div class="mb-3">	
      <label for="title" class="form-label">Titre :</label>
      <input type="text" name="title" id="title" class="form-control" value ="{{activity.title}}" placeholder="Titre à renseigner">
    </div>
    </div class="mb-3">
      <label for="description" class="form-label">Description :</label>
      <input type="text" name="description" id="description" class="form-control" value ="{{activity.description}}" placeholder="Ajouter Descriptif">
    </div>
    <div class="mb-3">
      <label for="picture" class="form-label">Image :</label>
      <input type="file" name="picture" id="picture" value ="{{activity.picture}}" class="form-control">
    </div>
    <div>
			<img class="activityImg w-100 h-100 rounded" src={{ activity.picture is null ? '/assets/images/imgPlaceHolder.jpg' : "/uploads/" ~ activity.picture }} alt="activityPicture">
    </div>
    <button class="btn btn-primary">Mettre à jour</button>
</form>
{% endblock %}